.form {
  border: none;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 10px;
  width: 60%;
  input {
    width: 100%;
    border: 1px solid #c9c9c9;
    border-radius: 8px;
    height: 64px;
    padding: 0 10px;
    outline: none;
    &:focus {
      border-color: #0db14b;
    }
  }
}

.button {
  padding: 16px;
  border-radius: 8px;
  font-weight: 700;
  text-align: center;
  color: #fff;
  background-color: rgb(46, 155, 126);
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.title {
  font-weight: 700;
  font-size: 28px;
}

.link {
  color: blue;
}
